body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rs-table {
	background: #FFFFFF;
	width: 60%;
	margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.rs-table-row {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.clock {
    padding-right: 20px;
}

.rs-navbar {
    background: #444444;
    margin: 100px;
}
